[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
iacecil = {editable = "true", git = "https://github.com/iuriguilherme/iacecil.git", ref = "0.2.13.1"}
pipenv-setup = "*"
pydantic = {extras = ['dotenv'], version = "*"}
botonaro = {editable = true, path = "."}

[dev-packages]
iacecil = {editable = "true", ref = "stable", git = "https://github.com/iuriguilherme/iacecil.git"}

[requires]
python_version = "3.10"
