[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
iacecil = {editable = "true", git = "https://github.com/iuriguilherme/iacecil.git", ref = "0.2.14.5"}
pydantic = {extras = ['dotenv'], version = "*"}

[dev-packages]
botonaro = {editable = true, path = "."}
pipenv-setup = "*"

[requires]
python_version = "3.10"
